{% extends "index.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<link href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap-select.css') }}" rel="stylesheet">

<script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
   $('.selectpicker').selectpicker();
});
</script>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-10 col-md-offset-1">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <img src="http://placehold.it/200x200" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-5">
                        <h3>
                            Mohammed Davoodi</h3>
                            <h4 title="San Francisco, USA"> <i class="glyphicon glyphicon-map-marker" style="margin-right:10px">
                              </i>San Francisco, USA </h4>
                            <h4><i class="glyphicon glyphicon-envelope" style="margin-right:10px"></i>email@example.com</h4>
                            <h4><i class="glyphicon glyphicon-phone" style="margin-right:10px"></i>540-250-5313</h4>
                            <br />
                    </div>
                                          <div class="form-inline col-sm-6 col-md-8">

                      <p>Add Address:</p>
                        <select class="selectpicker" data-live-search="true" style="float:left;">
                          <option>Bitcoin</option>
                          <option>Dogecoin</option>
                          <option>Litecoin</option>
                          <option>Digitalcoin</option>
                        </select>
                        <input type="text" class="form-control" placeholder="Address" style="width:52%">
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
