{% extends "index.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-10 col-md-offset-1">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/200x200" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h3>
                            Mohammed Davoodi</h3>
                            <h4 title="San Francisco, USA"> <i class="glyphicon glyphicon-map-marker" style="margin-right:10px">
                              </i>San Francisco, USA </h4>
                            <h4><i class="glyphicon glyphicon-envelope" style="margin-right:10px"></i>email@example.com</h4>
                            <h4><i class="glyphicon glyphicon-phone" style="margin-right:10px"></i>540-250-5313</h4>
                            <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
